.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
}

.theme__toggle {
	font-size: 1.5rem;
	cursor: pointer;
}

@media all and (max-width: 930px) {
	.container {
		display: none;
	}
}
