.menu__toggle {
	display: none;
	cursor: pointer;
	font-size: 4rem;
}

.drawer {
	background: var(--primary-background);
}

.container__mobile {
	display: none;
}

.toggle__container {
	position: fixed;
	width: 100%;
}

@media all and (max-width: 930px) {

	.container__mobile {
		display: block;
	}

	.menu__toggle {
		display: block;
	}

	.drawer .menu__links {
		display: flex;
	}
}
