@import "~normalize.css";
@import "themes/light.css";
@import "themes/dark.css";
@import "animations/typewriter.css";
@import '~@material/drawer/dist/mdc.drawer.css';

html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;

  background: var(--primary-background);
  color: var(--primary-color);
  scroll-behavior: smooth;

  --typewriter-step: 20;
}

a {
  color: var(--primary-color);;
  text-decoration: none;
  outline: none;
}

* {
  box-sizing: border-box;
}


.html__tag {
  color: var(--primary-warning-tint);
  font-family: 'Source Code Pro', monospace;
}

.accent {
  color: var(--primary-success);
}
